.search {
    margin-left: 15px;
    display: inline-flex;
    vertical-align: middle;
}

table {
    width: 100%;
}

table a,
table a:visited {
    color: #000;
    background: #fff;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    border-right: 3px;
    text-decoration: none;
    text-transform: uppercase;
}

table th {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #fff;
    text-transform: capitalize;
}

table td {
    padding: 5px;
}